<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />   
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet" />
    <title>Miley Cyrus</title>
</head>
<body class="bg">
    <nav class="navbar">
        <ul>
            <a href="/home">Home</a>
            <a href="/about">Biografia</a>
            <a href="/works">Trabalhos</a>
        </ul>
    </nav>
    
    <section class="title">
        <div>
            <img src='/images/MC.gif' alt='MC' class='logo' />
            <h1 class="rainbow">Miley Cyrus</h1>
        </div>
        <img class='img-about'src="/images/miley.jpg"/>
    </section>


    <section class="section-about">
        <h2>Sobre</h2>
        <article>
            <p>Miley Ray Cyrus (Nashville, 23 de novembro de 1992) é uma cantora, compositora e atriz norte-americana.
            Tornou-se mundialmente popular por interpretar Miley Stewart/Hannah Montana na famosa série do Disney Channel Hannah
            Montana. Em 2008, Miley foi eleita pela revista americana Time como uma das 100 famosas mais bem pagas do mundo.
            Como cantora, já vendeu mais de 20 milhões de álbuns mundialmente.</p>
            
            <p>Depois de lançar vários álbuns com a personagem de Hannah Montana, em 2007 lançou seu primeiro álbum de estúdio próprio,
            intitulado Meet Miley Cyrus, que rendeu os singles "See You Again" e "Start All Over". O álbum estreou em primeiro lugar
            nos Estados Unidos e vendeu 326 mil cópias em sua semana de estreia. E foi certificado 4x platina pela RIAA por vender
            mais de 4 milhões de cópias somente no Estados Unidos. Em 2008, lançou seu segundo álbum de estúdio, Breakout, que
            rendeu os singles "7 Things" e "Fly on the Wall". O álbum mais uma vez estreou na primeira posição nos Estados Unidos,
            vendendo na primeira semana 371 mil cópias e recebeu um disco de platina por vender mais de 1,5 milhões de cópias em seu
            país natal.</p>
            
            <p>Em 2009, participou do Hannah Montana: The Movie, do qual se derivou a trilha sonora de mesmo nome onde rendeu os
            singles "The Climb" e "Hoedown Throwdown", que vendeu 2 milhões de cópias somente nos Estados Unidos. Nesse mesmo
            ano, lançou seu primeiro EP, The Time of Our Lives, que rendeu singles como "Party in the U.S.A." e "When I Look at
            You". O álbum estreou em segundo lugar na parada norte-americana Billboard 200, onde recebeu um disco de platina por
            vender mais de 1,4 milhões de cópias na região. Na Espanha, também foi disco de platina.</p>
            
            <p>Em 2010, depois de dois anos sem lançar um álbum de estúdio, foi lançado seu terceiro, intitulado Can't Be Tamed, que
            rendeu o single de mesmo nome e foi lançado o último filme da série Hannah Montana e trilha sonora Hannah Montana
            Forever. Em 2013, ela lançou seu quarto álbum de estúdio, intitulado Bangerz, seu primeiro na RCA Records. O álbum
            trouxe uma mudança sonora e de imagem para Cyrus. O álbum estreou em primeiro lugar na Billboard 200. Seu próximo álbum
            de estúdio, Miley Cyrus & Her Dead Petz (2015), foi lançado apenas digitalmente, e seu sexto álbum de estúdio Younger
            Now (2017) marcou um retorno ao estilo country-pop da cantora. </p>
        </article>
    </section>

    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 IronHack Student Project:
            <a class="text-dark" href="#">Express Basic Site</a>
    
            <a class="text-dark" href="https://github.com/lua-nadai/lab-express-basic-site">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                </svg>
            </a>
        </div>
    </footer>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
</body>
</html>