<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="/stylesheets/style.css"/>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet" />
    <title>Miley Cyrus</title>
</head>
<body class="bg">
    <nav class="navbar">
        <ul>
            <a href="/home">Home</a>
            <a href="/about">Biografia</a>
            <a href="/works">Trabalhos</a>
        </ul>
    </nav>
    
 
    <section class="section-home">
        <div class="img-home">
            <img src="/images/mileywreckingball.png"/>
        </div>
        <div class="title-home" >
            <div>
                <!-- <img src='/images/MC.gif' alt='MC' class='logo' /> -->
                <h1 class="rainbow">Miley Cyrus</h1>
            </div>
        </div>
 
    </section>
 
    <section class="section-about">
        <article>
            <p>Miley Cyrus nasceu Destiny Hope Cyrus no estado norte-americano do Tennessee e é filha do cantor de música
            country Billy Ray Cyrus e de Leticia "Tish" Cyrus, e neta de Ron Cyrus. Ela tem cinco irmãos: Trace Cyrus (vocalista
            da banda Metro Station) e Brandi Cyrus, por parte de mãe; Christopher Cody, por parte de pai; além de Noah Cyrus e
            Braison Chance.</p>
            
            <p>A atriz e cantora solicitou ao Tribunal Superior de Los Angeles a mudança legal de seu nome para Miley Ray Cyrus. Billy
            Ray Cyrus, seu pai, escreveu na solicitação que a mudança era para "fazer com que o nome pelo qual ela é conhecida
            normalmente seja o mesmo que o legal". Em ocasiões anteriores, a atriz tinha comentado que o seu pai a chamava de
            Smiley, quando pequena, por causa de sua personalidade alegre, e desse apelido foi escolhido o nome Miley. Em 29 de
            janeiro de 2008, ela mudou oficialmente o seu nome para "Miley Ray Cyrus"; o nome do meio foi uma homenagem ao seu
            pai. Em março de 2009, ela publicou a sua autobiografia, Miles to Go. Miley possui ainda, dezoito tatuagens: a frase
            Just Breathe (Apenas Respire) abaixo do seio esquerdo, a palavra Love na orelha, um coração no dedo, um apanhador de
            sonhos na costela, um sinal de igualdade do dedo (em homenagem aos seus fãs homossexuais), uma âncora no pulso, uma cruz
            no dedo, um símbolo da paz no dedo, a palavra Karma no dedo, uma caveira mexicana no interior do tornozelo direito, um
            símbolo OM no pulso esquerdo, a frase Love Never Dies no interior do braço esquerdo, um olho grego no dedo, números
            romanos no ante-braço direito, uma frase de Theodore Roosevelt no braço esquerdo, a palavra BAD (Mal, Ruim) no dedo (em
            homenagem ao disco de Michael Jackson), duas flechas acima do cotovelo do braço direito e a imagem de um coração
            anatômico na parte inferior do ante-braço direito. A cor favorita de Miley é Dourado.</p>
    
        </article>
    </section>


    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 IronHack Student Project:
            <a class="text-dark" href="#">Express Basic Site</a>

            <a class="text-dark" href="https://github.com/lua-nadai/lab-express-basic-site">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github"
                viewBox="0 0 16 16">
                <path
                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                </svg>
            </a>
        </div>
    </footer>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
</body>
</html>